    {% extends 'Layout.html' %}
    {% block Title %} Calculator {% endblock %}

    {% block body %}
        <h1>Calculator</h1>

        <form action="/calculate" method="POST">
            <input type="text" name="expression" id="display" value="{{ expression or '' }}" required>
            <button type="submit">Calculate</button>
        </form>
        <form action="/reset" method="POST">
            <button type="submit" class="reset_button">Reset</button>
        </form>
        

        <h2>Result :  {{ result or '' }}</h2>
    {% endblock %}

    

