<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <!-- <link rel="stylesheet" href="./index.css"> -->
</head>
<body>

    <div>
        <h1>My flask app</h1>
        <h2>Welcome {{user_name}}</h2>

        <!-- jinjaa template -->
        <h3>My Skills : </h3>
        {% for skill in skills %}
        <li>{{skill}}</li>
        {% endfor %}

        <p>Father of creator : {{info.father}}</p>
        <p>Age of creator : {{info.age}}</p>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil saepe tempore, autem animi, molestiae aspernatur corporis perspiciatis incidunt voluptatum dicta recusandae dolores, quisquam magnam! Molestias fuga in corrupti et corporis.</p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime dolorem officia impedit ipsa minus, fuga provident magnam pariatur cum vel quibusdam libero est non, culpa tempora deserunt dicta rem? Facere similique porro iste ipsum optio ullam ipsam reiciendis, asperiores, molestias modi tempora fugiat unde itaque!
        </p>
    </div>
    <!-- <div id="calculator">
        <input id="display" readonly />
        <div id="keys">
            <button onclick="appendToDisplay('+')" class="operator-btn">+</button>
            <button onclick="appendToDisplay('7')">7</button>
            <button onclick="appendToDisplay('8')">8</button>
            <button onclick="appendToDisplay('9')">9</button>

            <button onclick="appendToDisplay('-')" class="operator-btn">-</button>
            <button onclick="appendToDisplay('4')">4</button>
            <button onclick="appendToDisplay('5')">5</button>
            <button onclick="appendToDisplay('6')">6</button>

            <button onclick="appendToDisplay('*')" class="operator-btn">*</button>
            <button onclick="appendToDisplay('1')">1</button>
            <button onclick="appendToDisplay('2')">2</button>
            <button onclick="appendToDisplay('3')">3</button>

            <button onclick="appendToDisplay('/')" class="operator-btn">/</button>
            <button onclick="appendToDisplay('0')">0</button>
            <button onclick="appendToDisplay('.')">.</button>
            <button onclick="calculate()">=</button>

            <button onclick="clearDisplay()" class="operator-btn">C</button>
        </div>
    </div> -->

    <!-- <script src="./index.js" defer></script> -->
</body>
</html>
